@import 'tailwindcss';

@theme {
  ----breakpoint-md: 768px;
}

@font-face {
  font-family: 'Noto Sans KR';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src:
    url('/assets/fonts/NotoSansKR-Bold-subset.woff') format('font-woff'),
    url('/assets/fonts/NotoSansKR-Bold-subset.woff2') format('font-woff2'),
    url('/assets/fonts/NotoSansKR-Regular-subset.woff') format('font-woff'),
    url('/assets/fonts/NotoSansKR-Regular-subset.woff2') format('font-woff2');
}

body {
  font-family: 'Noto Sans KR', sans-serif;
}
